
<div class="w-100 container-fluid">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">    
        <div class="collapse navbar-collapse container-fluid" id="navbarSupportedContent">
            <a class="navbar-brand" href="/">
                <img class="img-fluid" src="img.jpg" width="30" height="30" alt="Web Hosting img">
            </a>
            <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/plans">Packages</a>
            </li>
            {{!-- <li class="nav-item dropdown">
              <a class="nav-link" href="#"  role="button" aria-haspopup="true" aria-expanded="false">Websites</a>
            </li> --}}
            <li class="nav-item">
              <a class="nav-link" href="/registration">Sign-up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          </ul>
          {{!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Find your perfect domain" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form> --}}
        </div>
    </nav>
  </div>
    