<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>TTA WEB HOSTING</title>
  <script src="index.js"></script>  
  <link href="https://fonts.googleapis.com/css2?family=Walter+Turncoat&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="style.css"/>
</head>

<body>
  <div class="container-header">
    <div class="header">
      <div class="logo">
        <img src="images/thumb_logo.png" alt="logo image" />
      </div>
      <div class="menu">
        <div class="dropdown">
          <button class="dropbtn" id="set-radius"><a href="/">Home Page</a></button>
        </div>

        <div class="dropdown">
          <button class="dropbtn" id="set-a"><a href="onthemenu.html">TTA Web Hosting Page</a></button>
        </div>

        <div class="dropdown">
          <button class="dropbtn">Online Marketing</button>
          <div class="dropdown-content">
            <a href="#">Account</a>
            <a href="#">View</a>
            <a href="#">Check out</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="set-a"><a href="register.html">Register</a></button>
        </div>
        <div class="dropdown">
          <button class="dropbtn" id="set-radius-2"><a href="#">Contact Us</a></button>
          <div class="dropdown-content">
          </div>
        </div>

        <form class="example" >
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search">Search</i></button>
        </form>


        <div class="account">
          <img src="images/user.png" alt="login image" onclick="location.href='login.html';" />
          <span class="tooltiptext">Login</span>
          </a>
        </div>
      </div>
    </div>
  </div>  

  <div class="slider">
    <img src="images/slider.jpg" alt="slider image" />
    <div class="slider-text">
      <h1>
        TTA Secure Web Hosting
      </h1>
      <p style="text-align: center;">Free Hosting, Domain Registration, Easy-to-Use Website Builder</p>
      <a href="#">Get Web Hosting</a>
    </div> 
      <div class="slider-text12">      
      <p style="text-align: center;">Plan Your Perfect Domain Server</p>
      <button class="button"><a href="">Search Domains</a></button>           
    </div>                  
  </div>     
    </div>
    <div class="viewall-button">
        <a href="#">View TTA Hosting</a>
      </div>    
  </div>
  
  <div class="heading">        
      </div>
  <div class="looter">
      <img src="/images/host1.jpg" alt="plate1" id="image1">
      <div class="heading">
        <p>TTA Web Hosting </p>        
      </div> 
      <div class="diffor">
          <p>Get fast and protected unlimited TTA Web Hosting for your site</p>
      </div> 
      <div class="dropss">
          <button class="button" id="set-a" style="text-align: right"><a href="">Get Hosting</a></button>
      </div>      
  </div>
  
  <div class="looter">
    <img src="/images/host2.jpg" alt="plate2" id="imag21">
    <div class="heading">
        <p>TTA Cloud Servers</p>        
      </div>
      <div class="diffor">
          <p>Fastest Virtual Servers on TTA</p>
      </div> 
      <div class="dropss">
          <button class="button" id="set-a" style="text-align: right"><a href="">Cloud Hosting</a></button>
        </div>
  </div> 

  <div class="looter">
    <img src="/images/host3.jpg" alt="pla3e2" id="imag23">
    <div class="heading" style="left:">
        <p>Dedicated TTA Servers</p>        
    </div>
      <div class="diffor">
          <p>Promote your Business with high-level TTA Servers</p>
      </div> 
      <div class="dropss">
          <button class="button" id="set-a" style="text-align: right"><a href="">Hardware Servers</a></button>
      </div>        
  </div>

  <div class="looter">
    <img src="/images/host4.jpg" alt="pla3e2" id="imag23">
    <div class="heading" style="left:">
        <p>TTA WordPress</p>        
    </div>
      <div class="diffor">
          <p>Control Your TTA WordPress websites instantly</p>
      </div> 
      <div class="dropss">
          <button class="button" id="set-a" style="text-align: right"><a href="">WordPress Hosting</a></button>
      </div>        
  </div>  

  <div class="banner">
    <div class="container">      
      <a href="#">SEE DETAILS</a>
    </div>
  </div>  

  <div class="footer">
    <div class="footer-banner">
      <div class="footer-text">
        <h3>TTA</h3>
        <p>TTA WEB HOSTING</p>
      </div>

      <div class="footer-titles">
        <ul>
          <li><a href="#">Get Help</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Social Media</a></li>          
        </ul>
      </div>
      <p class="inc-rights">Copyright © Summer 2021, Emre Isik, WEB322NCC</p>
    </div>

  </div>  
</body>

</html>